# Logs
logs
*.log
npm-debug.log*

# Bat files
*.bat

# Dependency directories
node_modules/

# Distribution directories
dist/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache